h1  { 
	text-align: center; 
	padding-top: 20px; 
} 

h2 { 
	text-align: center; 
	
} 

body 	{ 
		background-color: #001f3f; 
		
} 

.boxOne	{ 
		width: 50%; 
		height: 300px; 
		float: left; 
		background-color: black; 
		margin: 30px; 
		
		
} 

.boxTwo { 
		float: left; 
		width: 50%; 
		height: 300px; 
		background-color: red; 
		
		
} 

.boxThree { 
		float: right; 
			width: 50%; 
			height: 300px; 
			background-color: white; 
			margin-top: 500px; 
} 



p    { 
		text-align: center; 
		
} 



